html {
  background-repeat: repeat-x;
}

body {
  margin: 0;
  background-color: white;
}

hr {
  size: 10;
}

th {
  font-size: calc(8px + 0.5vw);
}

td {
  font-size: calc(6px + 0.3vw);
}

::selection {
  background: #62c4c7; /* WebKit/Blink Browsers */
}

/* Header/Blog Title */
.header {
  margin-top: 50px;
  text-align: left;
  background: white;
  font-family: "grad", serif;
  font-weight: 700;
  font-size: calc(14px + 3vw);
}

/* Header/Blog Title */
.subheader {
  text-align: left;
  background: white;
  font-family: cursive;
  font-weight: black;
  font-size: calc(10px + 1vw);
}

.text-content {
  padding: 20px;
  font-family: "mr-eaves-xl-sans", sans-serif;
  font-size: calc(12px + 0.5vw);
  line-height: 1.8;
  text-align: justify;
}

.query-content {
  padding-top: 10px;
  font-family: "grad", serif;
  font-size: calc(12px + 1vw);
  line-height: 1.8;
  text-align: justify;
  font-weight: 700;
}

.vis-center-container {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  vertical-align: middle;
}

.float {
  margin-top: 20px;
  margin-left: 50px;
  width: calc(15px + 1vw);
  height: calc(15px + 1vw);
  background-color: #7298ad;
  color: white;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  outline: none;
  font-size: calc(3px + 1vw);
}
.float:focus {
  outline: none;
}

.tooltip {
  display: block;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font: 12px sans-serif;
  background: #dce4e8;
  border: 0px;
  border-radius: 6px;
  pointer-events: none;
}

.svg-content-responsive {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
}
